<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule" stopProcessing="true">
             <match url="api/([_0-9a-z/-]+)" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Rewrite" url="http://outerapi.pmc.org.tw:20102/{R:0}" />
        </rule>
        <rule name="ReverseProxyInboundRule2" stopProcessing="true">
             <match url="api2/([_0-9a-z/-]+)" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Rewrite" url="http://outerapi.pmc.org.tw:20102/api/{R:1}" />
        </rule>
        <rule name="ReverseProxyInboundRule3" stopProcessing="true">
             <match url="api3/([_0-9a-z/-]+)" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Rewrite" url="https://4273-125-231-125-15.ngrok.io/api/{R:1}" />
        </rule>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
