<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Http To Https" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
              <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
        <rule name="ReverseProxyInboundRule" stopProcessing="true">
             <match url="api/([_0-9a-z/-]+)" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Rewrite" url="http://outerapi.pmc.org.tw:8072/{R:0}" />
        </rule>
        <rule name="ProxyImg" patternSyntax="Wildcard" stopProcessing="true">
             <match url="*/image/*" />
             <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
             <action type="Rewrite" url="http://outerapi.pmc.org.tw:8072/{R:2}" />
        </rule>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
